Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a="pwskills"
b=[1,2,3]
c=2.2
d=(2,9)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.


ANSWER:
i)string
ii)string
iii)list
iv)float

lets check this with type() function

In [5]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

ANSWER:
/ is division operator and returns the result with floating point number
% is modulus operator and returns the remainder
// floor division operator returns the result without floating point number
** is exponential operator it returns the result which is obtained by multyplying the base num the number of times in the power.

In [6]:
a=10
b=3
print(a/b)
print(a%b)
print(a//b)
print(a**b)

3.3333333333333335
1
3
1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
lst=['c',1,2.4,'d',55,[1,2],67,'ui',0,34]
for i in range(0,len(lst)):
    print(lst[i],type(lst[i]))

c <class 'str'>
1 <class 'int'>
2.4 <class 'float'>
d <class 'str'>
55 <class 'int'>
[1, 2] <class 'list'>
67 <class 'int'>
ui <class 'str'>
0 <class 'int'>
34 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
a=40
b=2
c=0
while(a%b==0):
    a=a//b
    c=c+1
print(c)

3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in lst:
    if i%3==0:
        print(i,"is divisble by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisble by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisble by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisble by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisble by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisble by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisble by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisble by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisble by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

ANSWER:
MUTABLE:We can change the element at a specific index.
IMMUTABLE:We cannot change the element at a specific index.

In [10]:

str="pwskills"
str[3]="y"

TypeError: 'str' object does not support item assignment